<h3>Add a new card</h3>

<form action="/create_card">

  <div>
    <label>
      Title
    </label>
    <input type="text" name="the_title" placeholder="Title">
  </div>

  <div>
    <label>
      Description
    </label>
    <textarea name="the_description" placeholder="Description" rows="3"></textarea>
  </div>

  <button>
    Create Card
  </button>

</form>
